* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

h1 {
    font-size: 8rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vw;
    max-height: 100vh;
    max-width: 100vh;
    width: 50vw;
}

.space {
    align-items: center;
    display: flex;
    font-size: 10vw;
    font-weight: 300;
    justify-content: center;
    line-height: 0;
    margin: 0;
    padding: 0;
}

#a1, #a2, #a3, #b1, #b2, #b3 {
    border-bottom: 1rem solid black;
}

#a1, #a2, #b1, #b2, #c1, #c2 {
    border-right: 1rem solid black;
}